// Ultility CSS Classes
.text-primary {
    color: $color-primary !important;
  }

.text-red,
.text-error {
  color: $color-red;
  font-size: 14px;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}