// Ultility CSS Classes
.text-primary {
    color: $color-primary !important;
  }

.text-red,
.text-error {
  color: $color-red;
  font-size: 14px;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

.text-blue {
  color: #00E8B4;
}

.tm-btn-link {
  padding: 16px 50px;
  min-width: 200px;
  display: inline-block;
  background-color: #00E8B4;
  color: #242828!important;
  text-decoration: none!important;
  &.stop {
    background-color: #E02020;
  }
  &.pending {
    background-color: #F7B500;
  }
  &.normal {
    background-color: #00E8B4;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.tm-font-size-6 {
  font-size: 60px;
  @media screen and (max-width: 1024px) {
    font-size: 36px;
  }
  @media screen and (max-width: 767px) {
    font-size: 34px;
    text-align: center;
  }
}

img {
  max-width: 100%;
}

.bg-gray {
  background-color: #f0f1f5;
}

//header
.header-page {
  background-color: #242828;
}

//


.tm-calendar {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: -2px;
    margin-right: -2px;
    li {
      background-color: #00E8B4;
      width: calc(100%/90);
      height: 50px;
      margin: 0 2px;
      position: relative;
      cursor: pointer;
      @media screen and (max-width: 767px) {
        margin: 0 1px;
      }
      &.stop {
        background-color: #E02020;
      }
      &.pending {
        background-color: #F7B500;
      }
      &.normal {
        background-color: #00E8B4;
      }
      .inner-calendar{
        display: none;
        width: 250px;
        position: absolute;
        top: 100%;
        font-size: 14px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9;
        padding-top: 15px;
        .cal-detail {
          padding: 1em;
          box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.05);
          position: relative;
          background: #ffffff;
          border: 1px solid #f0f1f5;
          color: #242828;
          &:before,
          &:after {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 10px;
            margin-left: -10px;
          }
          &:before {
            border-color: rgba(240, 241, 245, 0);
            border-bottom-color: #f0f1f5;
            border-width: 12px;
            margin-left: -12px;
          }
        }
      }
      &:hover,
      &:active {
        &::before {
          content: '';
          height: 100%;
          width: 100%;
          background-color: #000000;
          opacity: .3;
          position: absolute;
          top: 0;
          left: 0;
        }
        .inner-calendar {
          display: block;
        }
      }
    }
  }
}
.tm-item-box {
  .stop {
    color: #E02020;
  }
  .pending {
    color: #F7B500;
  }
  .normal {
    color: #00E8B4;
  }
}

.tm-item-box {
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #f6f6f8;
  background-color: #ffffff;
  padding: 15px 30px;
  @media screen and (max-width: 767px) {
    padding: 15px;
  }
}

//
.tm-twtter-box {
  max-width: 660px;
  margin: auto;
}